<template name="newkid">
	
  <img class="img-responsive" src="kids-intro.jpg"/>
  <form class="new-kid">
  <div class="panel panel-default">
    <div class="panel-heading">
    	<h2>Add a kid</h2>
    </div>
    <div class="panel-body">
    	<div class="form-group">
    		<label>Name:</label>
    		<input type="text" name="name" placeholder="First name or Nickname" required/>
    	</div>
    		<!-- add in some sort of character selection here -->
    	<div class="form-group">
    		<label>Grade:</label>
    		<select name="grade">
    			<option value="Kindergarten" selected>Kindergarten</option>
    			<option value="First">First</option>
    			<option value="First">Second</option>
    			<option value="Third">Third</option>
    			<option value="Fourth">Fourth</option>
    			<option value="Fifth">Fifth</option>
    		</select>
    	</div>
      <h3>Select an Avatar</h3>
      <div class="row">
        <div id="avatar_red" class="col-md-3">
          <label>
            <input type="radio" value="avatar_red" name="avatar_select"><img class="img-responsive" src="kids-red.jpg"></label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="radio" value="avatar_purple" name="avatar_select"><img class="img-responsive" src="kids-purple.jpg">
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="radio" value="avatar_blue" name="avatar_select"><img class="img-responsive" src="kids-blue.jpg">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>
            <input type="radio" value="avatar_black" name="avatar_select"><img class="img-responsive" src="kids-black.jpg">
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="radio" value="avatar_yellow" name="avatar_select"><img class="img-responsive" src="kids-yellow.jpg">
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="radio" value="avatar_green" name="avatar_select"><img class="img-responsive" src="kids-green.jpg">
          </label>
        </div>
      </div>
    	<button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
	</form>
  {{#each kids}}
    <form class="delete_kid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Delete</h2>
        </div>
        <div class="panel-body">
          <h3>{{kidname}}</h3>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  {{/each}}
</template>