
<head>
  <title>ClipUp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="logo">ClipUp</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	{{#if currentUser}}
            <li class="login">{{> loginButtons}}</li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
        {{#if currentUser}}
          <ul class="nav nav-sidebar">
            <li class="overview"><a href="#">Overview</a></li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Record <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Record Points</li>
                    {{#each kids}}
                    <li class="record"> <a class="{{_id}}" href="#">{{kidname}}</a> </li>

                    {{/each}}
                  </ul>
                </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rewards <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Set Rewards</li>
                    {{#each kids}}
                    <li class="rewards"> <a class="{{_id}}" href="#">{{kidname}}</a> </li>

                    {{/each}}
                  </ul>
            </li>
            <li class="reports"><a href="#">Reports</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="newkid"><a href="#">add/remove children</a></li>
            <li class="help"><a href="#">help</a></li>
          </ul>
        {{/if}}
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-3">
		  {{#unless currentUser}}
        <div class="jumbotron">
          <h1>ClipUp</h1>
          <p>A tool for rewarding awesome behavior.</p>
          <p>{{> loginButtons}}</p>
        </div>
        
        <div class="row">
          <div class="col-md-5 col-md-offset-2"><h3>Login/Register to get started. Visit the add/remove children section and add your little peanut.<br><br> Then visit the record section to start recording points.</h3></div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-2"><p>**BETA** Feel free to create your own account using fake email address or use nope@nou.edu pw: nopenope **BETA**</p></div>
        </div>
      {{/unless}}
  {{#if currentUser}}
  <div class="currentView">
    {{> Template.dynamic template=template_name}}
  </div>
  {{/if}}
		</div>
	</div>
</div>

</body>


<template name="reports">
  <h2>View Trends</h2>
  <p>set goals</p>
</template>

<template name="help">
  <div class="row">
    <h2>Contact Me</h2>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      I appreciate your support while this app is in beta please feel to reach out to me on <a href="http://twitter.com/dtzitz">Twitter</a>
    </div>
  </div>

</template>