<template name="overview">
  <div class="row">
    <div class="logo col-md-3 col-md-offset-3"><h1>ClipUp</h1></div>
  </div>
  <!-- tell people what to do to get started -->
    {{#each kids}}
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{kidname}}</div>
          <div class="panel-body">
            <ul>
              <li>Current Grade : {{kidgrade}}</li>
              {{#each scores}}
              <li>Date: {{point_date}} Points: {{point_value}} </li>
              {{/each}}
              {{#if averagescore}}<li>Weekly Average: {{averagescore}}</li>{{/if}}
              <li>Available Rewards
                <ul>
                  {{#each available_rewards}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
              </li>
            </ul>
            <img src="{{avatar_url}}" alt="Avatar as evolved by points">
          </div>
        </div>
      </div>
    </div>

    {{/each}}



</template>