<template name="record">
  <h2>Daily Record</h2>
  <h3>Put a key here to display what points mean</h3>

    {{#each kids}}
    <form class="update_points">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{kidname}}</div>
          <div class="panel-body">


          		    
				<div class="row">
            		<div class="col-sm-6">
            			<label for="points">Record daily points: </label>
						<select name="points" class="form-control" value="1">
							<option value="1">1 - Good</option>
							<option value="2">2 - Better</option>
							<option value="3">3 - Best</option>
							<option value="4">4 - Super Clipup!</option>
						</select>
            		</div>
            	</div>
				
				<!-- input range
 				<label>Points: </label>
 				<input class="input-range" type="range" min="1" max="4" step="1" id="points" value="1" name="points">
 				<span class="range-value"></span> -->
				

	          	<div class="row">
				        <div class='col-sm-3'>
				        	<label>Date</label>
				            <input type='text' placeholder="mm/dd/yyyy" name="date" class="form-control" id='datetimepicker'/>
				        </div>
				</div>
				    

				<div class="row">
					<div class="col-sm-3">
	  					<button type="submit" class="btn btn-default">Submit</button>
	  				</div>
	  			</div>
          </div>
        </div>
      </div>
    </div>
    </form>

    {{/each}}

</template>