<template name="rewards">
  <h2>Create Rewards</h2>
  <p>Create a list of daily rewards. Rewards are tiered on the 1-4 scale. <br> Getting a 1 should unlock basic rewards. Getting a 4 should unlock the best rewards. Earned rewards will appear in the overview.</p>

	{{#each kids}}
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{kidname}}</div>
          <div class="panel-body">
            <form class="update_rewards">
            	<label for="reward_name">Update and add Rewards</label>
            	<input type="text" class="reward_name" id="reward_name" placeholder="Reward Name"> 
            	<div class="row">
            		<div class="col-sm-3">
            			<label for="required_points">Set the Bar: </label>
						<select name="required_points" class="form-control" value="1">
							<option value="1">1 - Good</option>
							<option value="2">2 - Better</option>
							<option value="3">3 - Best</option>
							<option value="4">4 - Super Clipup!</option>
						</select>
            		</div>
            	</div>
            	
				<div class="row">
					<div class="col-sm-3 col-offset-md-9">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
				
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

</template>